main {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 50px 50px 50px 50px;
    grid-gap: 20px;
}

div {
    display: grid;
    background-color: chartreuse;
    text-align: center;
    align-items: center;
    
}

.item10 {
    background-color: coral;
    grid-column: 3 / 5;
}

.item6 {
    background-color: cornflowerblue;
    grid-row: span 3;
}