<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: blue;">Profile</h1>
    <h2>Hello, <%= user %></h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae blanditiis minima vitae, aspernatur asperiores sed dolorum deleniti autem magni velit aliquid enim, dolore aliquam, illum sequi qui error dignissimos temporibus?</p>
</body>
</html>