* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    align-items: center;
    justify-items: center;
    background-color: gainsboro;
}

button {
    display: grid;
    align-items: center;
    justify-items: center;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

header>button {
    background-color: crimson;
    width: 60%;
    height: 15%;
    transition-duration: 1s;
}

section>button {
    height: 30px;
    width: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
    transition-property: transform;
    transition-duration: 1s;
    transform: translate(400px);
}

.linear {
    background-color: brown;
    transition-timing-function: linear;
}

.ease-out {
    background-color: blue;
    transition-timing-function: ease-out;
}

.funcion {
    background-color:blueviolet;
    transition-timing-function: cubic-bezier(0.63, 1.59, 0.3, -0.51);
}

.ensancha:hover {
    width: 90%;
}