:root {
    --negro: #545454;
    --fucsia: #D4A2A3;
    --crema: #F4F4F4;
    --bordeaux: #a04f4f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 40px 200px 1fr 80px;
    grid-template-areas: "nav nav"
                         "header header"
                         "section main"
                         "footer footer";
    height: 100vh;
}

header {
    background-color: var(--crema);
    grid-area: header;
    background-image: url(./Logo\ Can\ Estilo.jpg);  
    background-size: 200px;
    background-repeat: no-repeat;    
    justify-content: center;
    align-content: center;
    display: grid;
    border: var(--negro);
    border-width: 10px;
    padding: 0;
    margin: 0;

}


nav {
    background-color: var(--negro);
    grid-area: nav;     
    position: fixed;
    left: 0;
    right: 0;
    
}

ul {       
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    list-style: none;
}

.navegacion {
    padding: 10.75px 15px;
    font-size: 15px;
    font-weight: 500;
    font-family: sans-serif;
    color: var(--crema);
    text-align: center;
    text-justify: auto;
    margin: auto;
    border-radius: 7px; 
}

.navegacion:hover{
    background-color: var(--fucsia);
    color: var(--negro);
    cursor: pointer;  
}

.navegacion:active{
    color: var(--crema);
}

main {
    background-color: var(--fucsia);
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 20rem);
    list-style: none;

}

section {
    background-color: var(--bordeaux);
    grid-area: section;
    font-family: sans-serif;
    color: var(--crema);
    
}

form {
    padding: 10px;
}
button {
    margin: 10px 0;
}

footer {
    background-color: var(--negro);
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}

img {
    width: 80px;    
}

.foot {
    color: white;
    font-family: sans-serif;
    padding: 30px 15px;
}
