*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: darkmagenta;
    font-family: serif;
    font-size: 10px;
}

.title{
    font-size: 18px;
    font-family: monospace;
}

.nav{
    margin-top: 10px;
    list-style-type: none;
    padding: 20px;
    border: 5px solid black;
}

.nav li {
    display: inline-block;
}

.nav a{
    color: white;
    background-color: teal;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
    border: 5px solid black;
}

.nav .aprende{
    background-color: tomato;
}